:root {
    --vermelho: #E50914;
    --preto:#141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-family: 'Calibri Light', sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


.filme-principal {
    font-size: 16px;
    background: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.1)), url(../img/expanse_background.png);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .desc {
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: justify;
    max-width: 450px;

}

.filme-principal  .titulo {
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 3px;
}
.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

.carrosel-filmes {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}